<!-- 
    View partial that adds a box to show idiot lights
    Sets up a div tagged with an ID, that is updated client-side with javascript
 -->

<%- box.start( {title: 'Status'} ) %>

<%- column.start(12, 'padded') %>
<div id='idiotpanel' class='inner-well'></div>
<%- column.end() %>

<%- box.end() %>

