<!-- 
    View partial that adds a menu
    
 -->
 
 <nav id="primary" class="main-nav">
  <ul>

    <li class="">
      <a href="/">
        <i class="icon-dashboard"></i> Status
      </a>
    </li>

    <li class="">
      <a href="#">
        <i class="icon-cogs"></i> Settings
      </a>
    </li>

    <li class="">
      <a href="#">
          <i class="icon-upload"></i> Load Config
      </a>
    </li>

    <li class="">
      <a href="#">
          <i class="icon-hdd"></i> Save Config
      </a>
    </li>

  </ul>
</nav>

