<!-- 
    View partial that adds a menu
    
 -->
 
 <nav id="primary" class="main-nav">
  <ul>

    <li class="">
      <a href="#">
        <i class="icon-file"></i> Files
      </a>
    </li>

    <li class="">
      <a href="/">
        <i class="icon-dashboard"></i> Live
      </a>
    </li>

 
  </ul>
</nav>

