
<%- row.start() %>

<%- column.start(12, 'padded') %>

     <div class='inner-well' >
     <div id="graphdiv"></div>
         
   </div>
<%- column.end() %>



<%- row.end() %>

<script type="text/javascript">
$(document).ready(function()
{
    var g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    "Date,Temperature\n" +
    "2008-05-07,75\n" +
    "2008-05-08,70\n" +
    "2008-05-09,80\n"

  );
});

</script>